
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

body > .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
}

.main-container > .top-section-container {
    display: flex;
    height: calc(100% / 6);
    width: 100%;
    background-color: #FFC700;
}

.top-section-container > .display-container {
    display: flex;
    align-items: center;
    width: calc(calc(100% / 4) * 3);
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.display-container > .calculation-display {
    font-size: 52px;
}

.top-section-container > .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.top-section-container > .delete-button:hover {
    background-color: #EE4E4E;
}

/* bottom section */

.main-container > .bottom-section-container {
    display: flex;
    height: calc(calc(100% / 6) * 5);
    width: 100%;
}

.bottom-section-container > .bottom-left-container {
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / 5) * 4);
    height: 100%;
}

.bottom-left-container > .secondary-operator-container {
    display: flex;
    justify-content: space-between;
    height: calc(calc(100% / 5) * 1);
    width: 100%;
    background-color: #219C90;
}

.secondary-operator-container > .clear-button,
.secondary-operator-container > .percent-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;;
    width: calc(100% / 3);
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.secondary-operator-container > .clear-button:hover,
.secondary-operator-container > .percent-button:hover {
    background-color: #EE4E4E;
}

.bottom-left-container > .numbers-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: calc(calc(100% / 5) * 4);
}

.numbers-container > .number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: calc(100% / 4);
    background-color: #FFC700;
    transition: all 0.2s ease-in-out;
}

.numbers-container > .number-button:hover {
    background-color: #EE4E4E;
}

.bottom-section-container > .bottom-right-container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    height: 100%;
}


.bottom-right-container > .operator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #219C90;
    width: 100%;
    height: calc(100% / 5);
    transition: all 0.2s ease-in-out;
}

.bottom-right-container > .equals-button {
    background-color: #DD4E4E;
}

.bottom-right-container > .operator-button:hover {
    background-color: #EE4E4E;
}